.bodyBoxRow{
	margin-top:50px;
}

.bodyBox{
	border-radius: 5px 5px 5px 5px / 5px 5px 5px 5px;
	background-color:rgba(243, 243, 243, 1);
	border:5px solid rgba(130, 130, 130, 0.2);
	padding-bottom:60px;
}

.bodyBoxInfoTitle{
	padding-top:40px;
	padding-bottom:10px;
	font-size:22px;
	font-weight:600;
	color:black;
}

.bodyBoxInfoContents{
	color:black;
	font-size:16px;
	font-weight:300;
}

.bodyBoxInfoLink{
	color:blue;
	font-size:16px;
	font-weight:600;
}